.container{
    text-align: center;
    margin-top:23px ;
}
table{
    margin: auto;
}   
input{
    font-size: 34px;
    border: 5px solid #244624;
    border-radius:21px;
    height: 65px;
    width: 456px;
}   
button{
    font-size: 40px;
    background-color: #978fa0;
    width: 102px;
    /* height: 58px; */
    cursor: pointer;
    border-radius: 20px;
    height: 90px;
    margin: 6px;
}   
.calculator{
    background-color: #ff99f7;
    padding: 23px;
    border-radius:53px ;
    display: inline-block;
    border: 4px solid #13695d;
}
